{{#if status}}
<div class="alert alert-success" role="alert">
    <strong>Well done!</strong> {{message}}
</div>
{{else}}
<div class="alert alert-danger" role="alert">
    <strong>Oh Snap!</strong> {{message}}
</div>
{{/if}}
