

<h3 class="text-center">Polls you have created</h3>

  <div class="table-responsive jumbotron">
  <table class="table" id="table1">
    <thead>
      <tr>
        <th>#</th>
        <th>Poll Question</th>
		    <th>View</th>
        <th>Delete</th>
      </tr>
    </thead>
	 <tbody>

        {{#each polls}}
        <tr>
          <td> {{inc @index}} </td>
          <td>{{this.question}}</td>
          <td> <a href='javascript:void(0);' class="remove" onclick="deleteRow(this)">
            <span class="glyphicon glyphicon-trash" ></span>
          </a>
        </td>
        <td> <a href="#" data-toggle="modal" data-target="#pollModal">
            <span class="glyphicon glyphicon-eye-open"></span>
          </a>
        </td>
      </tr>
        {{/each}}
	</tbody>
  </table>


</div>
