<br><br>
  <div class="row">
    <div class="col-md-4"><br><br><br><br><br><br><br>
      <h2 class="text-center">404 : Page Not Found</h2>
    </div>
    <div class="col-md-8">
      <img src="https://0.s3.envato.com/files/224211926/Preview%20Image.__large_preview.jpg" class="img-fluid text-center" alt="404-Responsive image">
    </div>
  </div>
