<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="panel panel-info">
      <table class="table table-user-information">
        <tbody>
          <tr>
            <td>Name:</td>
            <td>{{this.name}}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><a href="mailto:{{this.emailid}}" target="_top">{{this.emailid}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
